.search-input, .search-select {
  transition: border-color 0.2s, box-shadow 0.2s;
  outline: none;
  box-shadow: none;
  border-bottom: 2.5px solid transparent;
}
.search-input:focus, .search-select:focus {
  border-bottom: 2.5px solid #BDD248 !important;
  border-color: #bdbdbd;
}

/* Black select, white text */
.search-select {
  background: #111;
  color: #fff;
  border: 1px solid #111;
}

/* Option styling for Chrome, Edge, Opera */
.search-select option {
  background: #111;
  color: #fff;
}
.search-select option:hover, .search-select option:focus, .search-select option:checked {
  background: #BDD248 !important;
  color: #222 !important;
}

/* For Firefox */
.search-select:focus > option:checked {
  background: #BDD248 !important;
  color: #222 !important;
}
